{% extends "base_v2.html" %}
{% load crispy_forms_tags %}
{% block content %}


  <h1 color="blue"> Listado de medidas </h1>

    <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Estatura registrada (mts)</th>
      <th scope="col">Peso registrado (kg)</th>
      <th scope="col">Fecha de registro</th>
    </tr>
    </thead>
    <tbody>
    {% for element in lista_pesos %}
    <tr>
      <td>{{ element.estatura   }}</td>
      <td>{{ element.peso  }}</td>
      <td>{{ element.fecha_registro }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
