{% extends "base_v2.html" %}
{% load crispy_forms_tags %}
{% block content %}

  {% if form.errors %}
    <div class="alert alert-danger" role="alert">
      Error!
    </div>
  {% endif %}

  <h1> Registrar medidas del paciente: {%paciente%} </h1>

  <form action=" {%url 'add_medidas' paciente.dni %} " method="POST">
    {% csrf_token %}

    {% if mensaje %}
      <div class="alert alert-success" role="alert">
        Medidas registradas OK
      </div>
    {% endif %}

    {{ form | crispy }}
    <p>

    </p>
    <button type="submit" class="btn btn-primary">Guardar medidas</button>

  </form>
{% endblock %}
