{% extends "base_v2.html" %}
{% load crispy_forms_tags %}
{% block content %}

  <h1> Listado de pacientes </h1>
  {% csrf_token %}
    <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Dni</th>
      <th scope="col">Nombre completo</th>
      <th scope="col">Fecha de nacimiento</th>
      <th scope="col">Correo electronico</th>
    </tr>
    </thead>
    <tbody>
    {% for element in lista_pacientes %}
    <tr>
      <td>{{ element.dni }}</td>
      <td>{{ element.nombre }}</td>
      <td>{{ element.fecha_nacimiento }}</td>
      <td>{{ element.correo_electronico }}</td>

      <td><a class="btn btn-warning" href=" {% url 'get_paciente' element.dni %}" > Editar paciente </a></td>
      <td><a class="btn btn-primary" href=" {% url 'historial_medidas' element.dni %}" > Ver medidas</a></td>
      <td><a class="btn btn-primary" href=" {% url 'registrar_medidas' element.dni %}" > Registrar medidas</a></td>
      <td><a class="btn btn-primary" href=" {% url 'historial_comida' element.dni %}" > Ver comidas</a></td>
      <td><a class="btn btn-primary" href=" {% url 'registrar_comida_paciente' element.dni %}" > Registrar comida</a></td>
    </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
