{% extends "base_v2.html" %}
{% load crispy_forms_tags %}
{% block content %}

  {% if form.errors %}
    <div class="alert alert-danger" role="alert">
      Error!
    </div>
  {% endif %}

  <h1> Editar pacientes </h1>

  <form action="{% url 'actu_paciente' paciente.dni %} " method="POST">
    {% csrf_token %}
    {% if mensaje %}
      <div class="alert alert-success" role="alert">
        Paciente actualizado correctamente
      </div>
    {% endif %}

    {{ form | crispy }}
    <p>

    </p>
    <button type="submit" class="btn btn-primary">Guardar paciente</button>

  </form>
{% endblock %}
